{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.teaser %}
      {% assign teaser = include.teaser %}
    {% elsif post.teaser %}
      {% assign teaser = post.teaser %}
    {% elsif post.header.teaser %}
      {% assign teaser = post.header.teaser %}
    {% elsif page.header.teaser %}
      {% assign teaser = page.header.teaser %}
    {% endif %}

    {% if teaser %}
      <div class="archive__item-teaser">
        <img src="
          {% if teaser contains "://" %}
            {{ teaser }}
          {% else %}
            {{ teaser | prepend: "/images/" | prepend: base_path }}
          {% endif %}
        "
        alt="{{ post.title }} logo">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
    </h2>

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 200 }}</p>
    {% endif %}

    {% if post.github %}
      <p class="archive__item-meta">
        <a href="{{ post.github }}"><i class="fab fa-github" aria-hidden="true"></i> View on GitHub</a>
      </p>
    {% endif %}

  </article>
</div>
